.aulas-section {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #7c3aed;
  }

  p {
    font-size: 1.5rem;
    color: #555;
    max-width: 700px;
  }

  .filter-bar {
    position: sticky;
    top: 0;
    background-color: #f3f0ff;
    padding: 1rem;
    z-index: 10;
    font-size: 1.5rem;
  
  }

  .cards-wrapper {
    max-height: calc(200vh - 300px); 
    overflow-y: auto;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }

  .card {
    background-color: #fdfdfd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .habilidade-card {
    margin-top: 1rem;
    cursor: pointer;

    h4 {
      margin: 0;
      font-size: 2.0rem;
      color: #4f46e5;
    }

    h4.expanded {
      color: #7c3aed;
    }

    details {
      margin-top: 0.5rem;
    }

    p {
      margin-top: 0.3rem;
      color: #333;
    }
  }
}
