.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

app-side-menu {
  width: 350px; // você disse que queria maior que o 300, ajustei
  flex-shrink: 0;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f0ff; // cor base, combina com sua hero
}
