
<section class="hero-section">
  <img src="/assets/imagem-teacher.png" alt="Professora e ideias" class="hero-img">
  <div class="hero-text">
    <h1 class="hero-title">Transforme o Ensino de Inglês</h1>
    <h2 class="hero-subtitle">Recursos inovadores para educadores apaixonados</h2>
    <p class="hero-quote">
      "Educação não transforma o mundo. Educação muda pessoas que transformam o mundo." Paulo Freire
    </p>
  </div>

  <footer class="footer">
      <p>&copy; 2025 English Teach Hub. Todos os direitos reservados.</p>
      <p>Desenvolvido com ❤️ por Márcia Teresinha Macedo</p>
    </footer>
</section>

